/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --cyan-transparent: hsla(178, 100%, 50%, 0.5); 
  --bg-very-dark-blue: hsl(217, 54%, 11%);
  --very-dark-blue: hsl(216, 51%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

body {
  min-height: 100vh;
  line-height: 1.4;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  background-color: var(--bg-very-dark-blue);
}

a {
  text-decoration: none;
  color: var(--white);
}

a:hover, a:active {
  color: var(--cyan);
}

/* Main Image */
.equilibrium {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
}

.equilibrium__image {
  display: block;
  max-width: 300px;
  width: 100%;
  border-radius: 5px;
}

.equilibrium__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 5px;
  background-color: var(--cyan);
  opacity: 0;
}

.equilibrium__view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}

.equilibrium:hover .equilibrium__overlay {
  opacity: 0.5;
  cursor: pointer;
}

.equilibrium:hover .equilibrium__overlay + .equilibrium__view {
  display: block;
  cursor: pointer;
}

.footer__image {
  width: 33px;
  border-radius: 50%;
  border: 1px solid var(--white);
  margin-right: 1rem;
}

.card {
  background-color: var(--very-dark-blue);
  color: var(--soft-blue);
  margin: 152px auto 32px auto;
  width: 350px;
  height: 596px;
  border-radius: 12px;
  padding: 24px;
}

.title {
  /* color: var(--white); */
  margin: 1.5rem 0;
  font-weight: 600;
  font-size: 22px;
}

.description {
  font-size: 1.125rem;
  font-weight: 300;
}

.data {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.ethereum {
  color: var(--cyan);
}

.clock {
  display: flex;
  align-items: center;
}

.ethereum__icon {
  margin-right: .5rem;
}

.clock__icon {
  margin-right: .5rem;
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: .5rem;
  border-top: 1px solid var(--very-dark-blue-line);
}

@media screen and (max-width: 500px) {
  .title {
    margin-bottom: .75rem;
  }

  .data {
    margin: 1rem 0;
  }

  .card {
    width: 327px;
    height: 543px;
  }

  .equilibrium-img{
    width: 278px;
    border-radius: 0;
  }

}